@charset "UTF-8";
.inset {
  background-color: white;
  border-radius: 6px;
  border: 1px solid #DDD;
  padding: 14px;
  width: 100%;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1px; }

.unselectable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

li {
  list-style-type: none; }

.title {
  margin: 12px 0 11px 1px;
  color: #666;
  font-size: 18px; }

.facility-list {
  margin: 0; }
  .facility-list .facility {
    border-bottom: solid #DDDDDD 1px;
    padding: 10px 0 10px 8px; }
    .facility-list .facility .facility-item-link {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .facility-list .facility .facility-item-link .facility-item-box-info {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        -webkit-box-ordinal-group: 1;
        -webkit-order: 0;
            -ms-flex-order: 0;
                order: 0; }
      .facility-list .facility .facility-item-link .facility-item-box-caret {
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
        float: right;
        margin-top: -10px; }
        .facility-list .facility .facility-item-link .facility-item-box-caret .chevron {
          margin-top: 0; }

.facility-services {
  font-size: 14px;
  color: #ABA9A9;
  text-transform: capitalize; }

.right {
  float: right; }

.center {
  margin: 0 auto;
  text-align: center; }

.open-hours {
  padding: 5px 10px;
  font-size: 14px; }
  .open-hours .label-hour {
    padding-right: 10px; }

#errorMessages {
  background-color: #F7D6D6;
  border: 2px solid #C95F5F;
  width: 327px;
  margin: 10px 0 20px 70px;
  padding-top: 10px;
  border-radius: 4px;
  color: #C95F5F;
  display: none; }

.icon-desktop {
  color: #CBAA4B; }

.icon-droplet {
  color: #7E7485; }

.icon-food {
  color: #9EA861; }

.icon-home {
  color: #62919C; }

.icon-plus {
  color: #A97A60; }

.icon-left-open.back {
  color: #DADADA;
  font-size: 14px;
  font-weight: lighter;
  margin: 0 1px 0 -5px; }

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'icons';
  src: url('vendor/font/icons.eot?35994865');
  src: url('vendor/font/icons.eot?35994865#iefix') format('embedded-opentype'), url('vendor/font/icons.woff?35994865') format('woff'), url('vendor/font/icons.ttf?35994865') format('truetype'), url('vendor/font/icons.svg?35994865#icons') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?35994865#icons') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-down-open:before {
  content: '\e80b'; }

/* '' */
.icon-link:before {
  content: '\e80c'; }

/* '' */
.icon-right-open:before {
  content: '\e804'; }

/* '' */
.icon-angle-double-right:before {
  content: '\e80a'; }

/* '' */
.icon-desktop:before {
  content: '\e805'; }

/* '' */
.icon-food:before {
  content: '\e806'; }

/* '' */
.icon-home:before {
  content: '\e803'; }

/* '' */
.icon-left-open:before {
  content: '\e80e'; }

/* '' */
.icon-phone:before {
  content: '\e800'; }

/* '' */
.icon-right-open-1:before {
  content: '\e808'; }

/* '' */
.icon-droplet:before {
  content: '\e802'; }

/* '' */
.icon-right-open-outline:before {
  content: '\e809'; }

/* '' */
.icon-plus:before {
  content: '\e807'; }

/* '' */
.icon-right-open-2:before {
  content: '\e80d'; }

/* '' */
.icon-compass:before {
  content: '\e801'; }

/* '' */
.ui-switch {
  display: inline-block;
  border: solid 1px #777;
  position: relative;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  background: #f3f3f3;
  border-radius: 18px;
  border-color: #dbdbdb; }

.ui-switch:focus {
  border-color: #8aade1;
  -webkit-box-shadow: 0 0 5px #8aade1;
  /* Safari before v5 and Google Chrome */
  /* Firefox */
  -o-box-shadow: 0 0 5px #8aade1;
  /* Opera */
  box-shadow: 0 0 5px #8aade1;
  /* CSS3 browsers */
  outline: none;
  /* disabling Safari's default behavior*/ }

.ui-switch.disabled {
  border-color: #999;
  cursor: default; }

.ui-switch-middle {
  height: 20px;
  width: 60px;
  border: solid 7px #f3f3f3;
  position: relative;
  margin-top: -34px;
  z-index: 100;
  border-radius: 17px; }

.ui-switch-mask {
  height: 30px;
  padding: 2px 3px;
  overflow: hidden; }

.ui-switch-master {
  height: 24px;
  position: relative;
  left: 10px; }

.ui-switch-upper {
  height: 20px;
  width: auto;
  margin: 5px;
  position: absolute;
  z-index: 101; }

.ui-switch-handle {
  display: block;
  height: 29px;
  width: 30px;
  position: absolute;
  top: -7px;
  left: -19px;
  -webkit-background-size: 30px 30px;
          background-size: 30px 30px;
  border-radius: 15px;
  border: solid 1px #d2d2d2;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 3px #929292;
          box-shadow: 0px 3px 3px #929292; }

.ui-switch-.disabled .ui-switch-handle:after {
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  height: 29px;
  width: 30px;
  background: white;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 8 */
  filter: alpha(opacity=50);
  /* IE 5-7 */
  -moz-opacity: 0.5;
  /* Mozilla */
  -khtml-opacity: 0.5;
  /* Safari 1.x */
  opacity: 0.5;
  /* Good browsers */
  border-radius: 15px; }

.ui-switch-lower {
  height: 20px;
  width: 1000px;
  margin: 5px;
  position: absolute;
  z-index: 99; }

.ui-switch-labels {
  clear: both; }

.ui-switch-on, .ui-switch-off {
  display: block;
  float: left;
  line-height: 18px;
  font-size: 14px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  background: #f3f3f3;
  color: #323232;
  border-radius: 10px; }

.ui-switch-on {
  border-right: none;
  background: #f3f3f3;
  padding-right: 20px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.ui-switch-off {
  border-left: none;
  border-color: #660000;
  padding-left: 20px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #f3f3f3; }

.ui-switch.disabled .ui-switch-on, .ui-switch.disabled .ui-switch-off {
  border-color: #333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 8 */
  filter: alpha(opacity=50);
  /* IE 5-7 */
  -moz-opacity: 0.5;
  /* Mozilla */
  -khtml-opacity: 0.5;
  /* Safari 1.x */
  opacity: 0.5;
  /* Good browsers */
  background: #525252;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #525252), color-stop(2%, #3e3e3e), color-stop(10%, #545454), color-stop(17%, #5d5d5d), color-stop(90%, #787878), color-stop(98%, #757575), color-stop(100%, #525252));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #525252 0%, #3e3e3e 2%, #545454 10%, #5d5d5d 17%, #787878 90%, #757575 98%, #525252 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left top, left bottom, from(#525252), color-stop(2%, #3e3e3e), color-stop(10%, #545454), color-stop(17%, #5d5d5d), color-stop(90%, #787878), color-stop(98%, #757575), to(#525252));
  background: linear-gradient(top, #525252 0%, #3e3e3e 2%, #545454 10%, #5d5d5d 17%, #787878 90%, #757575 98%, #525252 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#525252',GradientType=0 );
  /* IE6-9 */ }

.ui-switch-on:hover, .ui-switch-off:hover {
  color: white;
  text-decoration: none; }

.ui-switch, .ui-switch * {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.about-us {
  margin-top: 70px; }
  .about-us p {
    margin: 0;
    font-size: 15px; }
  .about-us p ~ p {
    margin-top: 10px; }
  .about-us .inset {
    margin: 0 auto;
    color: #666; }
  .about-us img {
    margin: 30px 10px 10px 15px;
    height: 50px; }

.credits {
  font-size: 12px;
  color: #ACACAC;
  text-align: center; }

.terms {
  margin-top: 70px; }
  .terms h1 {
    text-align: center; }
  .terms h2 {
    display: inline;
    text-decoration: underline;
    font-size: 1rem; }
  .terms p {
    margin-bottom: 2rem; }

.categories-header, .search-header {
  color: #666666;
  font-size: 20px;
  font-weight: normal;
  margin: 0; }

ul.categories {
  display: block;
  margin: 2px 0 0 0;
  padding-top: 5px; }
  ul.categories li {
    padding-bottom: 10px; }
    ul.categories li .btn {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-color: white;
      background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#EBEBEB));
      background-image: -webkit-linear-gradient(white, #EBEBEB);
      background-image: linear-gradient(white, #EBEBEB);
      border: 1px solid #B8B8B8;
      border-radius: 4px;
      font-size: 20px;
      font-weight: bold;
      text-align: left;
      cursor: pointer;
      padding: 10px 0;
      width: 100%; }
      ul.categories li .btn:active {
        background-color: #dadada;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#c5c5c5));
        background-image: -webkit-linear-gradient(#dadada, #c5c5c5);
        background-image: linear-gradient(#dadada, #c5c5c5);
        border-color: #a4a4a4; }
      ul.categories li .btn.active {
        background-color: #dadada;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#c5c5c5));
        background-image: -webkit-linear-gradient(#dadada, #c5c5c5);
        background-image: linear-gradient(#dadada, #c5c5c5);
        border-color: #a4a4a4; }
    ul.categories li i.category-icon {
      margin: 5px 10px; }
  ul.categories .chevron-container {
    float: right;
    margin-top: -2px; }

.container {
  width: 95%;
  max-width: 700px;
  min-width: 290px;
  margin: 50px auto 0 auto;
  padding-top: 5px; }

.notes {
  background: #f3f3f3;
  padding: 8px;
  border-radius: 6px; }

.facility-name {
  font-size: 24px;
  padding: 2px 0;
  margin-top: 6px; }

.facility-info {
  font-size: 14px; }
  .facility-info p {
    margin: 0; }
  .facility-info label {
    font-weight: bold; }
  .facility-info a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    color: inherit; }
  .facility-info .service-title {
    margin-top: 0; }
  .facility-info .title {
    margin: 12px 0 0 1px; }
  .facility-info .service-title, .facility-info .title {
    color: #666;
    font-size: 18px;
    font-weight: normal; }
  .facility-info .icon-right-open {
    color: #909090; }
  .facility-info .inset {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #DDD;
    padding: 14px;
    width: 100%;
    text-align: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 1px; }
  .facility-info .inset-gmap {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #DDD;
    padding: 14px;
    width: 100%;
    text-align: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 1px;
    border-radius: 6px;
    margin: 20px 0px 20px 0px;
    padding: 0; }
    .facility-info .inset-gmap p {
      padding: 8px 8px 8px 12px; }
    .facility-info .inset-gmap .destination {
      border-top: 1px solid #DDD; }
    .facility-info .inset-gmap:active {
      background-color: #ddd; }
  .facility-info .inset-website {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #DDD;
    padding: 14px;
    width: 100%;
    text-align: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 1px;
    border-radius: 0px;
    border-top: none;
    color: black;
    text-decoration: none; }
    .facility-info .inset-website span {
      width: 50%;
      text-overflow: ellipsis;
      -moz-text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      white-space: no-wrap;
      color: #777; }
  .facility-info .contact-info div.inset-header:nth-of-type(1) {
    border-radius: 6px 6px 0 0;
    margin-top: 20px; }
  .facility-info .inset-call {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #DDD;
    padding: 14px;
    width: 100%;
    text-align: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: -1px;
    margin-bottom: 0;
    border-bottom: 1px solid #DDD; }
    .facility-info .inset-call a {
      font-weight: bold; }
    .facility-info .inset-call:active {
      background-color: #ddd; }
    .facility-info .inset-call span {
      color: #777; }
    .facility-info .inset-call:first-of-type {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px; }
  .facility-info .call-info {
    margin-top: 5px;
    margin-left: 25px;
    color: #777; }
  .facility-info .inset-directions {
    cursor: pointer;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #DDD;
    padding: 14px;
    width: 100%;
    text-align: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 1px;
    border-radius: 0 0 6px 6px;
    border-top: none;
    margin-top: -1px; }
    .facility-info .inset-directions a {
      font-weight: bold; }
    .facility-info .inset-directions label {
      cursor: pointer; }
    .facility-info .inset-directions:active {
      background-color: #ddd; }
  .facility-info .inset-services {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #DDD;
    padding: 14px;
    width: 100%;
    text-align: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 1px;
    margin-top: 12px; }
    .facility-info .inset-services label {
      line-height: 2; }
    .facility-info .inset-services p {
      line-height: 1.5;
      margin-bottom: 10px; }
  .facility-info .open-hours {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px; }

#detail-gmap {
  height: 180px;
  padding: 1px;
  border-bottom: 1px solid #DDD; }

#filter {
  padding: 55px 20px 0 20px; }
  #filter button {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#EBEBEB));
    background-image: -webkit-linear-gradient(white, #EBEBEB);
    background-image: linear-gradient(white, #EBEBEB);
    border: 1px solid #B8B8B8;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    text-align: left; }
    #filter button:active {
      background-color: #dadada;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#c5c5c5));
      background-image: -webkit-linear-gradient(#dadada, #c5c5c5);
      background-image: linear-gradient(#dadada, #c5c5c5);
      border-color: #a4a4a4; }
    #filter button.active {
      background-color: #dadada;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#c5c5c5));
      background-image: -webkit-linear-gradient(#dadada, #c5c5c5);
      background-image: linear-gradient(#dadada, #c5c5c5);
      border-color: #a4a4a4; }
  #filter .categories .chevron-container {
    display: none; }
  #filter .filter .btn {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin: 0px;
    float: left;
    border-right: none;
    border-radius: 0px; }
  #filter .filter .first {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  #filter .filter .last {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #B8B8B8; }
  #filter .filter.btn-group {
    padding-bottom: 15px;
    padding-top: 5px;
    height: 40px; }
  #filter .filter-demographics .btn {
    padding: 10px 8px; }
  #filter .filter-sort.alert {
    color: #c09853;
    padding: 8px 35px 8px 14px;
    margin-bottom: 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px; }
  #filter .search input[type=submit], #filter .search button {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: #F3F3F3;
    border: 1px solid #DCDCDC;
    border-radius: 25px;
    color: #989898;
    font-size: 15px;
    padding: 8px 13px;
    width: 100%;
    text-align: center;
    text-shadow: none;
    height: 50px;
    font-size: 20px; }
    #filter .search input[type=submit].left, #filter .search button.left {
      float: left;
      position: relative;
      left: 5px; }
    #filter .search input[type=submit].right, #filter .search button.right {
      float: right;
      position: relative;
      right: 5px; }
    #filter .search input[type=submit]:active, #filter .search button:active {
      border: none;
      background-color: #E3E3E3;
      border: 1px solid #CBCBCB; }
    #filter .search input[type=submit]:focus, #filter .search button:focus {
      outline: 0; }

#index {
  padding: 53px 20px 0 20px; }
  #index .filter-name {
    margin: 10px 0 5px 0; }
  #index .search-input {
    width: 100%; }
  #index input {
    padding-left: 10px;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #E3E3E3;
    height: 30px; }

.control, .control-group {
  width: 100%; }
  .control input, .control-group input {
    display: block;
    margin: 5px 0px; }
  .control label, .control-group label {
    display: block;
    width: 100%; }
  .control input, .control textarea, .control-group input, .control-group textarea {
    max-width: 300px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 3px; }

#feedback-form {
  display: block; }

.control {
  height: 90px; }

.feedback-error {
  display: none;
  background: #FFFFBA;
  height: 30px;
  text-align: center;
  padding-top: 5px; }

.feedback-title {
  font-size: 1.5em; }

.facility-list .not-found {
  margin: 20px 10px; }
.facility-list .facility a {
  text-decoration: none;
  color: #000;
  display: block; }
.facility-list .facility p {
  margin: 4px 4px 4px 0; }
.facility-list .facility .icon-right-open {
  color: #909090; }
.facility-list .facility .facility-name {
  margin: 5px 0 3px 0;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold; }
.facility-list .facility .facility-info {
  font-size: 13px;
  margin-top: 15px; }
.facility-list .facility .facility-distance {
  color: #c3c3c3;
  margin: 4px 0;
  text-align: right; }
.facility-list .facility .categories {
  margin-bottom: 7px;
  display: inline-block; }

.label-status {
  display: inline-block;
  padding: 2px 4px 0 0;
  font-size: 15px;
  line-height: 14px;
  color: #ABA9A9;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 3px; }
  .label-status.open {
    color: #468847; }
  .label-status.closed {
    color: #b94a48; }
  .label-status.unknown {
    color: blue; }

.sort-options {
  margin-left: 10px; }

.open-options {
  margin-left: 10px; }

.query-representation {
  width: 100%;
  max-width: 650px; }

.query-representation-content {
  margin-top: 53px;
  border-bottom: 1px solid #DCDCDC;
  color: #929292;
  font-size: 15px;
  padding: 10px 4px; }
  .query-representation-content > .open {
    margin-left: 10px;
    display: none; }
  .query-representation-content .ui-switch-labels a {
    color: #989898; }
  .query-representation-content .more-options-td {
    width: 32%;
    display: inline-block; }
  .query-representation-content .ui-switch.disabled .ui-switch-handle {
    background-color: #f3f3f3; }
  .query-representation-content .ui-switch.disabled .ui-switch-on, .query-representation-content .ui-switch.disabled .ui-switch-off {
    background: transparent; }
  .query-representation-content .filter-option {
    width: 32%;
    display: inline-block; }
    .query-representation-content .filter-option label {
      display: block; }
  .query-representation-content .second.filter-option {
    margin-left: 4px; }

.query-representation-content table {
  width: 100%; }

.filter-toggle {
  padding: 5px 15px 15px 0px; }

.more-options .more-options-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #F3F3F3;
  border: 1px solid #DCDCDC;
  border-radius: 25px;
  color: #989898;
  font-size: 15px;
  padding: 8px 13px;
  padding: 8px 14px;
  float: right; }
  .more-options .more-options-button.left {
    float: left;
    position: relative;
    left: 5px; }
  .more-options .more-options-button.right {
    float: right;
    position: relative;
    right: 5px; }
  .more-options .more-options-button:active {
    border: none;
    background-color: #E3E3E3;
    border: 1px solid #CBCBCB; }
  .more-options .more-options-button:focus {
    outline: 0; }

.list-header-item {
  opacity: 0.8; }

#loading-spinner {
  display: none;
  height: 2000px;
  margin: 25px;
  margin-top: 85px;
  text-align: center; }

#load-more {
  display: none;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
  padding: 20px; }
  #load-more .load-more-button {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: #F3F3F3;
    border: 1px solid #DCDCDC;
    border-radius: 25px;
    color: #989898;
    font-size: 15px;
    padding: 8px 13px;
    padding: 8px 25px; }
    #load-more .load-more-button.left {
      float: left;
      position: relative;
      left: 5px; }
    #load-more .load-more-button.right {
      float: right;
      position: relative;
      right: 5px; }
    #load-more .load-more-button:active {
      border: none;
      background-color: #E3E3E3;
      border: 1px solid #CBCBCB; }
    #load-more .load-more-button:focus {
      outline: 0; }

.icon-down-open {
  color: #909090; }

.right-info {
  margin-right: 10px; }

.chevron {
  font-size: 15px;
  margin-right: 5px; }

.gray {
  color: #777;
  margin-left: 3px; }

nav {
  height: 40px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  padding: 8px 0 4px 0;
  border-bottom: 1px solid #DDDDDD; }
  nav .nav-container {
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    max-width: 650px; }
    nav .nav-container a {
      color: #3081B7;
      text-decoration: none;
      font-weight: bold;
      padding-top: 4px; }
    nav .nav-container li {
      float: left;
      margin: 20px 0 20px 20px; }
    nav .nav-container button {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-color: #F3F3F3;
      border: 1px solid #DCDCDC;
      border-radius: 25px;
      color: #989898;
      font-size: 15px;
      padding: 8px 13px; }
      nav .nav-container button.left {
        float: left;
        position: relative;
        left: 5px; }
      nav .nav-container button.right {
        float: right;
        position: relative;
        right: 5px; }
      nav .nav-container button:active {
        border: none;
        background-color: #E3E3E3;
        border: 1px solid #CBCBCB; }
      nav .nav-container button:focus {
        outline: 0; }
    nav .nav-container .title {
      line-height: 36px;
      font-size: 24px;
      color: white; }
    nav .nav-container .logo {
      display: block;
      margin: 0 auto;
      width: 100px; }
      nav .nav-container .logo img {
        width: 100%; }

body {
  font-family: "arial";
  background-color: white; }

ul {
  padding-left: 0;
  margin: 0; }

#linksf {
  max-width: 650px;
  margin: 0 auto; }

.btn-info {
  border: 1px solid #1C5E79; }

button:focus, a:focus {
  border: 2px solid #62919C !important; }

footer {
  max-width: 650px;
  margin: 0 auto;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
  color: #ACACAC; }
  footer a {
    color: #ACACAC;
    margin: 0 4px 0 4px;
    text-decoration: none; }
